# используем язык java. Travis CI поддерживает другие языки тоже.
language: java
jdk:
  - openjdk15

# используем режим обычного пользователя для сборки проекта.
sudo: false

# после выполнения сборки запустить скрипт, который будет собирать статистику по JaCoCo
# Здесь используется сторонни сервис https://codecov.io/
after_success:
  - bash <(curl -s https://codecov.io/bash)

env:
  global:
    - CODECOV_TOKEN="a0cff11a-7a6a-4102-bf94-6bdf3893c8ba"


# Отправлять уведомление на почту mybclym@gmail.com если сборка упала
notifications:
  email:
    recipients:
      mybclym@gmail.com
    on_success: never # default: change
    on_failure: always # defa,ult: always